@keyframes pulse-wave {
    0% {
      transform: scale(1);
      opacity: 0.6;
    }
    70% {
      transform: scale(1.5);
      opacity: 0;
    }
    100% {
      transform: scale(1.5);
      opacity: 0;
    }
  }
  
  .animate-wave {
    animation: pulse-wave 2s infinite;
  }
  
  .animate-wave-slower {
    animation: pulse-wave 3s infinite;
  }
  
  .animate-wave-slowest {
    animation: pulse-wave 4s infinite;
  }
  